<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>{{ title }}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicon/manifest.json">
    <link rel="stylesheet" href="{{root}}assets/css/style.css">
</head>

<body>
    <div class="wrapper">
        <main class="main">
            <div class="promo" id="home">
                <div class="container-fluid">
                    <div class="promo__header">
                        <a class="promo__logo" href="#"><img src="assets/images/icons/gdaLogo.svg" alt="logo"></a>
                        <ul class="promo__nav">
                            <li class="promo__link hvr-underline-from-left"><a href="#lessons">Все курсы</a></li>
                            <li class="promo__link hvr-underline-from-left"><a href="#about">О нас</a>
                            </li>
                            <li class="promo__link hvr-underline-from-left"><a href="#questions">ЧЗВ</a></li>
                            <li class="promo__link hvr-underline-from-left"><a href="#footer">Контакты</a>
                            </li>

                        </ul>
                        <div class="btn-wrapper dropdown-center">
                            <button class="toggle-language btn btn-secondary dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">RU</button>
                            <ul class="dropdown-content dropdown-menu">
                                <li><a href="english.html" class="language-link dropdown-item"
                                        data-lang="en">English</a></li>
                                <li><a href="russian.html" class="language-link dropdown-item"
                                        data-lang="ru">Русский</a></li>
                                <li><a href="index.html" class="language-link dropdown-item" data-lang="am">Հայերեն</a>
                                </li>
                            </ul>

                            <button class="registration hvr-grow"
                                onclick="window.location.href='https://docs.google.com/forms/d/e/1FAIpQLSfZhizwXzhHWnRf5w_ULtV-cWdp_QRnvYuXs9gLO7B8YNujkA/viewform'">регистрация</button>

                        </div>
                        <div class="hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="particles" id="particles-js"></div>
            </div>




            <section class="lessons" id="lessons">
                <div class="container">
                    <h1 class="lessons__title">Все курсы</h1>
                    <div class="lessons__carousel">

                        <div class="lessons__card">
                            <div class="card-inner">
                                <img class="card-img" src="assets/images/slides/lessons/unrealEngine.svg"
                                    alt="unrealEngine">
                                <h6 class="card-title">UNREAL ENGINE</h6>
                                <button class="card-btn" data-modal="unrealEngine">Узнать больше</button>
                            </div>
                        </div>
                        <div class="lessons__card">
                            <div class="card-inner">
                                <img class="card-img" src="assets/images/slides/lessons/conceptArt.svg"
                                    alt="conceptArt">
                                <h6 class="card-title">CONCEPT ART</h6>
                                <button class="card-btn" data-modal="conceptArt">Узнать больше</button>
                            </div>
                        </div>
                        <div class="lessons__card">
                            <div class="card-inner">
                                <img class="card-img" src="assets/images/slides/lessons/blender.svg" alt="blender">
                                <h6 class="card-title">BLENDER</h6>
                                <button class="card-btn" data-modal="blender">Узнать больше</button>
                            </div>
                        </div>

                        <div class="lessons__card">
                            <div class="card-inner">
                                <img class="card-img" src="assets/images/slides/lessons/archvis.svg" alt="archvis">
                                <h6 class="card-title">ARCHVIS (ONLY UNREAL ENGINE)</h6>
                                <button class="card-btn" data-modal='onlyUE'>Узнать больше</button>
                            </div>
                        </div>
                        <div class="lessons__card">
                            <div class="card-inner">
                                <img class="card-img" src="assets/images/slides/lessons/smaxUE.svg" alt="3dsmaxUE">
                                <h6 class="card-title">ARCHVIS (3D’S MAX +
                                    UNREAL ENGINE)</h6>
                                <button class="card-btn" data-modal='smaxUE'>Узнать больше</button>
                            </div>
                        </div>
                        <div class="lessons__card">
                            <div class="card-inner">
                                <img class="card-img" src="assets/images/slides/lessons/soon.svg" alt="unrealEngine">
                                <h6 class="card-title">coming SOON</h6>

                            </div>
                        </div>
                    </div>
                    <button class="prev_arrow"><img src="assets/images/icons/slideLeft.svg" alt="Previous"></button>
                    <button class="next_arrow"><img src="assets/images/icons/slideRight.svg" alt="Next"></button>
                </div>
            </section>

            <section class="about animate__animated" id="about">
                <div class="container">
                    <h2 class="about__title">О нас</h2>
                    <div class="about__wrapper">
                        <div class="about__descr">
                            <p>Разработчики игр проектируют и создают видеоигры. Они работают в командах
                                в которые входят: актеры, программисты, продюсеры и маркетологи
                                специалисты.<br>Разработчики игр в основном специализируются на определенной игровой
                                платформе (например <span>PC, PlayStation, Xbox, Mobile` IOS</span> или
                                <span>Android</span>),и специальные
                                в таких направлениях, как: программирование, искусственный интеллект, геймплей
                                и т.д.<br>В некоторых случаях при создании игр разработчики игр совмещают
                                несколько профессий одновременно.
                            </p>
                        </div>
                        <div class="about__image"><img src="assets/images/content/gamepads.png" alt="gamepads"></div>
                    </div>
                </div>
            </section>

            <section class="gamedev animate__animated">
                <div class="container">
                    <h2 class="gamedev__title">Почему стоит выбрать разработку игр?</h2>
                    <div class="gamedev__wrapper">

                        <div class="gamedev__image"><img src="assets/images/content/protagonists.png"
                                alt="protagonists"></div>
                        <div class="gamedev__descr">
                            <p>Может быть, потому что это карьера, которая включает в себя передовые технологии
                                и сочетание творчества. Это может быть также потому, что вы любите
                                играть в видеоигры и хотите воплотить свои творческие идеи в жизнь. Может быть, вы?
                                Хотите карьеру, которая позволит вам путешествовать?
                                во время работы или из дома. Может быть, вам нравится рисовать и создавать вещи
                                самостоятельно?
                                вручную через виртуальную платформу. Есть много причин, по которым вы захотите работать
                                в сфере разработки игр, и перед вами откроются десятки карьерных путей
                                во многих областях.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <div class="targets">
                <div class="container">
                    <div class="targets__wrapper">

                        <div class="targets__way">

                            <div class="targets__one">01</div>
                            <h3 class="way__title">Наш путь</h3>
                            <div class="way-line"></div>
                            <div class="way__descr">Позволяет студентам учиться и создавать высококачественные
                                видео
                                игры для мобильных устройств: IOS, Android, настольных компьютеров и консолей:
                                Playstation, Xbox и других
                                платформы.

                            </div>
                        </div>

                        <div class="targets__line"></div>

                        <div class="plan-result_wrapper">
                            <div class="targets__plan">

                                <div class="targets__two">02</div>
                                <h3 class="plan__title">Наша цель</h3>
                                <div class="plan-line"></div>
                                <div class="plan__descr">Наша миссия заключается в создании качественного
                                    образовательного учреждения
                                    в Армении
                                    учреждение.

                                </div>
                            </div>

                            <div class="targets__result">

                                <div class="targets__three">03</div>
                                <h3 class="result__title">Результат</h3>
                                <div class="result-line"></div>
                                <div class="result__descr">Мы готовы направить студентов на творческое развитие
                                    идея
                                    в создании игр и открыть новые возможности для молодежи.
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="ecosystem animate__animated">
                <div class="container">
                    <h2 class="ecosystem__title">Экосистема</h2>
                    <div class="ecosystem__wrapper">
                        <div class="ecosystem__descr">
                            <p>Экосистема: новое слово в партнерстве в Армении, которое слабо
                                позволяет объединить несколько направлений и сформировать одно комплексное
                                сотрудничество, которое
                                handyman
                                является, прежде всего, клиент-студент. Мы с большой гордостью представляем наших
                                помощников
                                и:
                                коллег, которые готовы к тому, что наши ученики станут создателями компьютерных игр
                                создатели,
                                предоставлять льготные условия при пользовании их услугами для того, чтобы играть
                                развитие отрасли станет проще, приятнее и быстрее. Привилегии и
                                специальные скидки
                                для
                                вам необходимо связаться с нашим <span>партнерами</span></p>
                        </div>
                        <div class="ecosystem__image"><img src="assets/images/content/infinity.svg" alt="eco"></div>
                    </div>
                    <div class="partners">
                        <div class="container">
                            <div class="partners__carousel">
                                <div class="partners__card">
                                    <div class="card-inner">

                                        <img class="card-img" src="assets/images/slides/partners/notebookCenter.svg"
                                            alt="notebookcenter">
                                        <h6 class="card-title">NOTEBOOK center</h6>
                                        <a target="_blank" href="https://www.facebook.com/notebookcentre.am/"
                                            class="card-btn">Узнать больше</a>
                                    </div>
                                </div>
                                <div class="partners__card">
                                    <div class="card-inner">

                                        <img class="card-img" src="assets/images/slides/partners/sperasoft.svg"
                                            alt="sperasoft">
                                        <h6 class="card-title">SPERASOFT</h6>
                                        <a target="_blank" href="https://www.facebook.com/Sperasoft.Armenia"
                                            class="card-btn">Узнать больше</a>
                                    </div>
                                </div>
                                <div class="partners__card">
                                    <div class="card-inner">

                                        <img class="card-img" src="assets/images/slides/partners/araratTennis.svg"
                                            alt="ararattennis">
                                        <h6 class="card-title">ARARAT tennis</h6>
                                        <a target="_blank" href="https://www.facebook.com/ararattennisclub/"
                                            class="card-btn">Узнать больше</a>
                                    </div>
                                </div>
                                <div class="partners__card">
                                    <div class="card-inner">

                                        <img class="card-img" src="assets/images/slides/partners/dts.svg"
                                            alt="downtownsuites">
                                        <h6 class="card-title">DOWNTOWN SUITES YEREVAN</h6>
                                        <a target="_blank" href="https://downtownsuites.am/" class="card-btn">Узнать
                                            больше</a>
                                    </div>
                                </div>
                                <div class="partners__card">
                                    <div class="card-inner">

                                        <img class="card-img" src="assets/images/slides/partners/gameNews.svg"
                                            alt="gamenews">
                                        <h6 class="card-title">GAME NEWS</h6>
                                        <a target="_blank" href="https://www.facebook.com/ArmGameNews"
                                            class="card-btn">Узнать больше</a>
                                    </div>
                                </div>
                            </div>
                            <button class="prev_arrow"><img src="assets/images/icons/slideLeft.svg"
                                    alt="Previous"></button>
                            <button class="next_arrow hvr-grow-shadow"><img src="assets/images/icons/slideRight.svg"
                                    alt="Next"></button>
                        </div>
                    </div>

                </div>
            </section>

            <section class="questions">
                <div class="container-fluid">
                    <div class="questions__wrapper accordion">

                        <h2 class="questions__title" id="questions">Часто задаваемые вопросы</h2>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseOne">
                                    Нужны ли вам навыки программирования для создания игр?
                                </div>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    Знание программирования приветствуется, однако начинающим
                                    на курсе мы также предоставим необходимые знания по программированию
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseTwo">
                                    Будут ли курсы проводиться онлайн или стационарно (офлайн)?
                                </div>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    Курсы для начинающих будут проводиться только в оффлайн
                                    вариант. Одним из ключевых моментов академии являются связи между различными
                                    создателями
                                    подтверждение и
                                    формирование команд. Наиболее эффективно этого можно достичь только на стационарных
                                    курсы
                                    через
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseThree">
                                    Как зарегистрироваться на курсы?
                                </div>
                            </h2>
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    Вы можете отправить заявку на предварительную регистрацию <a
                                        href="https://docs.google.com/forms/d/e/1FAIpQLSfZhizwXzhHWnRf5w_ULtV-cWdp_QRnvYuXs9gLO7B8YNujkA/viewform"
                                        class="answer-link">Здесь</a>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseFour">
                                    Сколько участников будет на занятии?
                                </div>
                            </h2>
                            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    Каждый класс рассчитан максимум на 5 участников.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseFive">
                                    Что требуется от меня для посещения занятий?
                                </div>
                            </h2>
                            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <ul>
                                        <li>Для выполнения домашнего задания необходим компьютер или ноутбук,
                                            с минимальными характеристиками:</li>
                                        <li> 8 ГБ оперативной памяти, I3 или эквивалентный процессор AMD, не менее 30 ГБ
                                            свободного места на диске
                                            пространства, 1:
                                            ГБ:
                                            GPU</li>
                                        <li>USB-накопитель со свободным пространством не менее 2 ГБ</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseSix">
                                    Каковы преимущества занятий в стационаре в автономном режиме?
                                </div>
                            </h2>
                            <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    Вот некоторые преимущества обучения в нашей академии<ol>
                                        <li>Знакомьтесь с новыми людьми и находите друзей-единомышленников.</li>
                                        <li>Выполнение заданий в требуемые сроки, которые будут способствовать
                                            в ваше обучение
                                            прогрессировать.</li>
                                        <li>Опытные преподаватели, которые ответят на ваши вопросы.</li>
                                        <li>Свидетельство об окончании школы.</li>
                                        <li>Освоение последовательности всего процесса создания игры.</li>
                                        <li>Домашние задания, которые помогут закрепить полученные знания.</li>
                                        <li>После прохождения базового обучения вы присоединитесь к команде сторонников,
                                            чтобы
                                            помочь
                                            вашему
                                            прогресс после завершения курсов и многое другое</li>
                                    </ol>
                                </div>
                            </div>
                        </div>













                    </div>

                </div>
            </section>















        </main>
        <footer class="footer" id="footer">
            <div class="container">
                <h2 class="footer__title">Контакты</h2>
                <div class="footer__wrapper">
                    <div class="footer__contact">
                        <span><a href="tel:+37495100159">(+374)95 10 01 59</a></span>
                        <span><a href="mailto:info@gda.am">info@gda.am</a></span>
                        <address>Наш адресс: Г. Ереван, ул. Алека Манукяна 2</address>
                    </div>
                    <div class="footer__social">
                        <a target="_blank" class="social-item hvr-bob"
                            href="https://www.facebook.com/gamedevelopmentacademyarmenia"><img
                                src="assets/images/icons/facebook.svg" alt="facebook"></a>
                        <a target="_blank" class="social-item hvr-bob" href="https://www.instagram.com/gda_am/"><img
                                src="assets/images/icons/instagram.svg" alt="instagram"></a>
                        <a target="_blank" class="social-item hvr-bob" href="https://www.tiktok.com/@gda_am"><img
                                src="assets/images/icons/tiktok.svg" alt="tiktok"></a>

                    </div>
                </div>
                <div class="map-container">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2155.430107910581!2d44.52365655187606!3d40.18150562321683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406abcef5b02b429%3A0xb0f952bbfa8bdec9!2s2%20Alek%20Manukyan%20St%2C%20Yerevan%200025!5e0!3m2!1sen!2sam!4v1681304837174!5m2!1sen!2sam"
                        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
                <p>© 2023 Game Development Academy. Все права защищены.<br><a target="_blank" href="policy.html">Условия
                        обработки персональных данных</a>
                </p>

            </div>
        </footer>


    </div>


    <div class="overlay">


        <div class="modal unrealEngine" id="unrealEngine">


            <div class="first-half">
                <div class="title-box">
                    <img src="assets/images/modals/UEsmall.svg" alt="unrealEngine">
                    <h3 class="modal__title">unreal engine</h3>
                </div>
                <p class="modal__descr">Вы сможете сделать первые шаги в мир за короткий промежуток времени
                    время
                    самых прибыльных и творческих профессий - компьютерных, консольных и телефонных игр
                    в удивительной и творческой сфере созидания.</p>
                <h4 class="modal__condition">Условия</h4>
                <ul class="condition-list">
                    <li class="condition-item">
                        <p>Продолжительность:
                            <span> 3 месяца</span>
                        </p>
                    </li>
                    <li class="condition-item">
                        <p>Формат курса. Занятия проводятся оффлайн (в классе)</p>
                    </li>
                    <li class="condition-item">
                        <p>Занятия <span>6 часов/неделя</span></p>
                    </li>
                    <li class="condition-item">
                        <p>Базовая месячная стоимость курсов <span>55000֏</span></p>
                    </li>
                    <li class="condition-item">
                        <p>Ежемесячная стоимость курсов для участников войны 2020 и их детей
                            <span>45000֏</span>
                        </p>
                    </li>
                </ul>
            </div>

            <div class="modal__line"></div>

            <div class="second-half">
                <h4 class="components_title">Lesson Components</h4>
                <ul class="components-list">
                    <li class="components-item">
                        <p>Introduction to engine</p>
                    </li>
                    <li class="components-item">
                        <p>Coordinates, Transforms, Units, and Organization</p>
                    </li>
                    <li class="components-item">
                        <p>Applying Lighting and Rendering</p>
                    </li>
                    <li class="components-item">
                        <p>Creating and Using Materials</p>
                    </li>
                    <li class="components-item">
                        <p>Using Audio Systems</p>
                    </li>
                    <li class="components-item">
                        <p>Creating Landscapes and Foliage</p>
                    </li>
                    <li class="components-item">
                        <p>Animations</p>
                    </li>
                    <li class="components-item">
                        <p>AI</p>
                    </li>
                    <li class="components-item">
                        <p>Optimization</p>
                    </li>
                    <li class="components-item">
                        <p>Practice, teamworks and homeworks</p>
                    </li>
                    <li class="components-item">
                        <p>Unreal Engine’s Blueprint (Visual Scripting)</p>
                    </li>
                    <li class="components-item">
                        <p>And much more</p>
                    </li>
                </ul>
            </div>
            <button class="registration registration-modal hvr-grow"
                onclick="window.location.href='https://docs.google.com/forms/d/e/1FAIpQLSfZhizwXzhHWnRf5w_ULtV-cWdp_QRnvYuXs9gLO7B8YNujkA/viewform'">регистрация</button>
            <div class="modal__close">&times;</div>


        </div>
        <div class="modal blender" id="blender">

            <div class="first-half">
                <div class="title-box">
                    <img src="assets/images/modals/blenderSmall.svg" alt="blender">
                    <h3 class="modal__title">asset creation blender</h3>
                </div>
                <p class="modal__descr">Начните свою карьеру в качестве 3D-художника. Этот курс позволит вам
                    погрузиться в огромный мир современного цифрового производства.</p>
                <h4 class="modal__condition">Условия</h4>
                <ul class="condition-list">
                    <li class="condition-item">
                        <p>Продолжительность: <span>3 месяца</span></p>
                    </li>
                    <li class="condition-item">
                        <p>Формат курса. Занятия проводятся оффлайн (в классе)</p>
                    </li>
                    <li class="condition-item">
                        <p>Занятия <span>6 часов/неделя</span></p>
                    </li>
                    <li class="condition-item">
                        <p>Месячная стоимость курсов <span>45000֏</span></p>
                    </li>

                </ul>
            </div>

            <div class="modal__line"></div>

            <div class="second-half">
                <h4 class="components_title">Lesson Components</h4>
                <ul class="components-list">
                    <li class="components-item">
                        <p>Blender</p>
                    </li>
                    <li class="components-item">
                        <p>UV</p>
                    </li>
                    <li class="components-item">
                        <p>Modeling Objects & Character</p>
                    </li>
                    <li class="components-item">
                        <p>Animation</p>
                    </li>
                    <li class="components-item">
                        <p>Exterior & Interior</p>
                    </li>
                    <li class="components-item">
                        <p>Lightning</p>
                    </li>
                    <li class="components-item">
                        <p>Texturing</p>
                    </li>
                    <li class="components-item">
                        <p>Rendering</p>
                    </li>
                    <li class="components-item">
                        <p>Rigging</p>
                    </li>
                    <li class="components-item">
                        <p>Sculpting</p>
                    </li>
                    <li class="components-item">
                        <p>Texture Paint</p>
                    </li>
                    <li class="components-item">
                        <p>And much more</p>
                    </li>
                </ul>
            </div>
            <button class="registration registration-modal hvr-grow"
                onclick="window.location.href='https://docs.google.com/forms/d/e/1FAIpQLSfZhizwXzhHWnRf5w_ULtV-cWdp_QRnvYuXs9gLO7B8YNujkA/viewform'">регистрация</button>
            <div class="modal__close">&times;</div>

        </div>
        <div class="modal conceptArt" id="conceptArt">

            <div class="first-half">
                <div class="title-box">
                    <img src="assets/images/modals/conceptArtSmall.svg" alt="conceptArt">
                    <h3 class="modal__title">CONCEPT ART</h3>
                </div>
                <p class="modal__descr">Именно этот специалист придумывает общую визуальную концепцию будущей
                    игры,
                    детальная разработка персонажей и игровой среды.</p>
                <h4 class="modal__condition">Условия</h4>
                <ul class="condition-list">
                    <li class="condition-item">
                        <p>Продолжительность: <span>3 месяца</span></p>
                    </li>
                    <li class="condition-item">
                        <p>Формат курса. Занятия проводятся оффлайн (в классе)</p>
                    </li>
                    <li class="condition-item">
                        <p>Занятия <span>6 часов/неделя</span></p>
                    </li>
                    <li class="condition-item">
                        <p>Базовая месячная стоимость курсов <span>45000֏</span></p>
                    </li>

                </ul>
            </div>

            <div class="modal__line"></div>

            <div class="second-half">
                <h4 class="components_title">Lesson Components</h4>
                <ul class="components-list">
                    <li class="components-item">
                        <p>Introduction to concept art</p>
                    </li>
                    <li class="components-item">
                        <p>Adobe Photoshop</p>
                    </li>
                    <li class="components-item">
                        <p>Adobe Illustrator</p>
                    </li>
                    <li class="components-item">
                        <p>Character Design</p>
                    </li>
                    <li class="components-item">
                        <p>Color Theory</p>
                    </li>
                    <li class="components-item">
                        <p>Concepts & Theories</p>
                    </li>
                    <li class="components-item">
                        <p>Color psychology</p>
                    </li>
                    <li class="components-item">
                        <p>Environment</p>
                    </li>
                    <li class="components-item">
                        <p>Perspective</p>
                    </li>
                    <li class="components-item">
                        <p>Composition</p>
                    </li>
                    <li class="components-item">
                        <p>Game UI</p>
                    </li>
                    <li class="components-item">
                        <p>And much more</p>
                    </li>
                </ul>
            </div>
            <button class="registration registration-modal hvr-grow"
                onclick="window.location.href='https://docs.google.com/forms/d/e/1FAIpQLSfZhizwXzhHWnRf5w_ULtV-cWdp_QRnvYuXs9gLO7B8YNujkA/viewform'">регистрация</button>
            <div class="modal__close">&times;</div>

        </div>
        <div class="modal smaxUE" id="smaxUE">

            <div class="first-half">
                <div class="title-box">
                    <img src="assets/images/modals/smaxUESmall.svg" alt="archvis">
                    <h3 class="modal__title"><span>ARCH VIS</span> 3D’S MAX
                        UNREAL ENGINE</h3>
                </div>
                <p class="modal__descr">Приобретайте и совершенствуйте свои навыки в области дизайна интерьера и
                    в области архитектуры, обеспечивая своим клиентам еще более наглядный и удовлетворительный
                    результат.</p>
                <h4 class="modal__condition">Условия</h4>
                <p class="condition__descr">Версия "3Ds Max + Unreal Engine 5" курса Arch Vis предназначена
                    для тех, кто только начинает заниматься 3D-моделированием и визуализацией.

                    Участвуя в курсе, вы получите практические знания о двух вышеупомянутых программах.
                    Используя
                    3Ds Max, вы сможете создать 3D-модели, необходимые для проекта, а Unreal Engine 5
                    позволит вам экспортировать созданную сцену в видеоформате высокого качества, а также
                    позволит потребителю исследовать сцену в интерактивном 3D-пространстве. </p>
                <ul class="condition-list">
                    <li class="condition-item">
                        <p>Продолжительность: <span>3 месяца</span></p>
                    </li>
                    <li class="condition-item">
                        <p>Формат курса. Занятия проводятся оффлайн (в классе)</p>
                    </li>
                    <li class="condition-item">
                        <p>Занятия <span>6 часов/неделя</span></p>
                    </li>
                    <li class="condition-item">
                        <p>Базовая месячная стоимость курсов <span>45000֏</span></p>
                    </li>

                </ul>
            </div>

            <div class="modal__line"></div>

            <div class="second-half">
                <h4 class="components_title">Lesson Components</h4>
                <ul class="components-list">
                    <li class="components-item">
                        <p>Autodesk 3ds Max</p>
                    </li>
                    <li class="components-item">
                        <p>Corona Renderer</p>
                    </li>
                    <li class="components-item">
                        <p>AutoCAD</p>
                    </li>
                    <li class="components-item">
                        <p>Exterior & Interior design</p>
                    </li>
                    <li class="components-item">
                        <p>Modeling</p>
                    </li>
                    <li class="components-item">
                        <p>Texturing</p>
                    </li>
                    <li class="components-item">
                        <p>Rendering</p>
                    </li>
                    <li class="components-item">
                        <p>UV</p>
                    </li>
                    <li class="components-item">
                        <p>Unreal Engine 5</p>
                    </li>
                    <li class="components-item">
                        <p>Import</p>
                    </li>
                    <li class="components-item">
                        <p>Materials</p>
                    </li>
                    <li class="components-item">
                        <p>Landscapes</p>
                    </li>
                    <li class="components-item">
                        <p>Foliage</p>
                    </li>
                    <li class="components-item">
                        <p>Lightning</p>
                    </li>
                    <li class="components-item">
                        <p>Audio</p>
                    </li>
                    <li class="components-item">
                        <p>Animation</p>
                    </li>
                    <li class="components-item">
                        <p>DataSmith</p>
                    </li>
                    <li class="components-item">
                        <p>Cinematics/ Video Export</p>
                    </li>
                    <li class="components-item">
                        <p>Interactive Environment</p>
                    </li>
                    <li class="components-item">
                        <p>Portfolio</p>
                    </li>
                    <li class="components-item">
                        <p>And much more</p>
                    </li>
                </ul>
            </div>
            <button class="registration registration-modal hvr-grow"
                onclick="window.location.href='https://docs.google.com/forms/d/e/1FAIpQLSfZhizwXzhHWnRf5w_ULtV-cWdp_QRnvYuXs9gLO7B8YNujkA/viewform'">регистрация</button>
            <div class="modal__close">&times;</div>

        </div>


        <div class="modal onlyUE" id="onlyUE">

            <div class="first-half">
                <div class="title-box">
                    <img src="assets/images/modals/UESmall.svg" alt="archvis">
                    <h3 class="modal__title"><span>ARCH VIS</span><br>
                        ONLY UNREAL ENGINE</h3>
                </div>
                <p class="modal__descr">Оттачивайте свои навыки в области дизайна интерьера и архитектуры
                    в полевых условиях, обеспечивая своим клиентам еще более яркий и удовлетворительный результат.</p>
                <h4 class="modal__condition">Условия</h4>
                <p class="condition__descr">Версия курса ArchVis "Только для Unreal Engine" предназначена для тех
                    для людей, владеющих навыками 3D-моделирования.
                    <br><br>
                    Участвуя в курсе, вы получите практические знания по визуализации с помощью Unreal.
                    Курс
                    позволит вам экспортировать созданную сцену в видеоформате высокого качества, а также
                    позволит исследовать сцену в интерактивном 3D-пространстве
                </p>
                <ul class="condition-list">
                    <li class="condition-item">
                        <p>Продолжительность: <span>1 месяц</span></p>
                    </li>
                    <li class="condition-item">
                        <p>Формат курса. Занятия проводятся оффлайн (в классе)</p>
                    </li>
                    <li class="condition-item">
                        <p>Занятия <span>6 часов/неделя</span></p>
                    </li>
                    <li class="condition-item">
                        <p>Базовая месячная стоимость курсов <span>55000 ֏</span></p>
                    </li>
                    <li class="condition-item">
                        <p>Ежемесячная стоимость курсов для участников войны 2020 и их детей <span>45000֏</span></p>
                    </li>

                </ul>
            </div>

            <div class="modal__line"></div>

            <div class="second-half">
                <h4 class="components_title">Lesson Components</h4>
                <ul class="components-list">
                    <li class="components-item">
                        <p>Unreal Engine 5</p>
                    </li>
                    <li class="components-item">
                        <p>Import</p>
                    </li>
                    <li class="components-item">
                        <p>Materials</p>
                    </li>
                    <li class="components-item">
                        <p>Landscapes</p>
                    </li>
                    <li class="components-item">
                        <p>Foliage</p>
                    </li>
                    <li class="components-item">
                        <p>Lightning</p>
                    </li>
                    <li class="components-item">
                        <p>Audio</p>
                    </li>
                    <li class="components-item">
                        <p>Animation</p>
                    </li>
                    <li class="components-item">
                        <p>DataSmith</p>
                    </li>
                    <li class="components-item">
                        <p>Cinematics/ Video Export</p>
                    </li>
                    <li class="components-item">
                        <p>Interactive Environment</p>
                    </li>
                    <li class="components-item">
                        <p>Portfolio</p>
                    </li>
                    <li class="components-item">
                        <p>And much more</p>
                    </li>
                </ul>
            </div>
            <button class="registration registration-modal hvr-grow"
                onclick="window.location.href='https://docs.google.com/forms/d/e/1FAIpQLSfZhizwXzhHWnRf5w_ULtV-cWdp_QRnvYuXs9gLO7B8YNujkA/viewform'">регистрация</button>
            <div class="modal__close">&times;</div>

        </div>




    </div>


    <a class="pageup hvr-grow" href="#home">
        <img src="assets/images/icons/pageup.svg" alt="Home">
    </a>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/particles.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/script.js"></script>

</body>

</html>